<div class="container">
    <div class="form">
    <label>Zip Code:
    <input type="text" [(ngModel)] = "zipcode" placeholder="Enter zipcode here"></label>
    <button id="btn1" (click) = "storeZip()">Enter</button>
    </div>
    <div class="weather" *ngIf = "validZipcode">
        <h3>Current Weather: </h3>
        <div>
        <div class="small-container">
        <div class="displayImage">
            <img id="image-box" [src]="currentImagePath" [alt]="currentImageName">
        </div>
        <div class="values">
        <div class="displayTemperature">
        <h4>{{weather.temp.toFixed(1)}}</h4>
        <div>
        <a (click) = "convertF()"> F</a> | <a (click) = "convertC()"> C</a>
        </div>
        </div>
        <div class="displayStats">
            <p>Precipiation: {{weather.cloud_pct}}</p>
            <p>Wind speed: {{weather.wind_speed}}</p>
            <p>Feels like: {{weather.feels_like.toFixed(1)}}</p>     
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
