.container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 100px;
}

p {
    font-weight: var(--fw-bold);
    margin-left: 5px;;
}

h2 {
    font: var(--ff-accent);
    font-weight: var(--fw-bold);
    font-size: larger;
}